// Font Family
$font-1: 'Montserrat', sans-serif;
$font-2: 'Cabin', sans-serif;
$font-3: 'Great Vibes', cursive;

// Colors ---------------
$white: #fff;
$black: #1b1e1e;
$gray: #edeff1;


// Theme Color
$theme-color: #ce8339;


//Body Color
$body-color: #737f96;


// Border Color
$border-color: #d7dce6;


// Heading Color
$heading-color: #293957;




// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


